---
layout: default
---

<h1>
    This is our team blog!!
</h1>
<p>This blog was created to highlight our programming journey throught our Spring semester with MLH!!!</p>
<div class="center">
    <h1 class="label"> Blogs </h1>
    <div class="card-wrapper">
      <div class="blog-card">
        <div class="blog-card__thumbnail">
          <img src="http://placeimg.com/180/100/tech">
        </div>
  
        <div class="blog-card__details">
          <div class="blog-card__title">
            Why I Chose Computer Science
          </div>
  
          <div class="blog-card__description">
            I decided to major in Computer Science shortly after my separation from the United States Air Force after nine years of honorable service.
          </div>
  
          <button class="blog-card__action"> 
            <a href="adrian.html"><span style="margin-right: 10px"> Read More </span></a>
            <i class="fa fa-angle-right"> </i>
          </button>
        </div>
      </div>
      
      <div class="blog-card">
        <div class="blog-card__thumbnail">
            <img src="http://placeimg.com/180/100/tech">
        </div>
  
        <div class="blog-card__details">
          <div class="blog-card__title">
            Why I choose Information Technology
          </div>
  
          <div class="blog-card__description">
            By definition, IT is a branch of computer Science where we study, design, develop, and implement software and hardware applications, computers, and wireless technology to support and manage computer-based information systems.
          </div>
  
          <button class="blog-card__action"> 
            <a href="linda.html"><span style="margin-right: 10px"> Read More </span></a>
            <i class="fa fa-angle-right"> </i>
          </button>
        </div>
      </div>
    </div>
  </div>
{{ content }}