---
layout: default
---

<h1>
    This is our team blog!!
</h1>
<p>This blog was created to highlight our programming journey throught our Spring semester with MLH!!!</p>
<div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
        <a href="adrian.html">Adrian's First Blog</a>
    </div>
</div>
<div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
        <a href="linda.html">Linda's First Blog</a>
    </div>
</div>
{{ content }}